### 1. Write a Python program to slice a string and return every second character.

In [1]:
def every_second_character(s):
    return s[::2]

# Example usage
input_string = "Hello, Vikash!"
result = every_second_character(input_string)
print(result)

Hlo iah

### 2. Write a Python program to find all vowels in a string.

In [2]:
def find_vowels(s):
    vowels = "aeiouAEIOU"
    return [char for char in s if char in vowels]

# Example usage
input_string = "Hello, Vikash!"
result = find_vowels(input_string)
print(result)

['e', 'o', 'i', 'a']

### 3. Write a Python program to generate a list of squares of even numbers from 1 to 20.

In [3]:
def squares_of_even_numbers():
    return [x**2 for x in range(1, 21) if x % 2 == 0]

# Example usage
result = squares_of_even_numbers()
print(result)

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

### 4. Write a function to check if a number is prime.

In [4]:
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

# Example usage
number = 29
result = is_prime(number)
print(result)

True

### 5. Write a function to generate the first N Fibonacci numbers.

In [ ]:
def fibonacci(n):
    fib_sequence = []
    a, b = 0, 1
    for _ in range(n):
        fib_sequence.append(a)
        a, b = b, a + b
    return fib_sequence

# Example usage
N = 10
result = fibonacci(N)
print(result)


### 6. Write a Python program to count the frequency of words in a list.

In [5]:

def word_frequency(words):
    frequency = {}
    for word in words:
        frequency[word] = frequency.get(word, 0) + 1
    return frequency

# Example usage
word_list = ["apple", "banana", "apple", "orange", "banana", "apple"]
result = word_frequency(word_list)
print(result)

{'apple': 3, 'banana': 2, 'orange': 1}




### 7. Write a function to sort a list of tuples by the second element.

In [6]:
def sort_tuples_by_second(tuples_list):
    return sorted(tuples_list, key=lambda x: x[1])

# Example usage
tuples_list = [(1, 3), (2, 1), (3, 2)]
result = sort_tuples_by_second(tuples_list)
print(result)

[(2, 1), (3, 2), (1, 3)]

### 8. Write a recursive function to calculate the factorial of a number.

In [7]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    return n * factorial(n - 1)

# Example usage
number = 5
result = factorial(number)
print(result)

120

### 9. Write a Python decorator to log the execution time of a function.

In [8]:
import time

def log_execution_time(func):
    def wrapper(*args, **kwargs):
        start_time = time.time()
        result = func(*args, **kwargs)
        end_time = time.time()
        print(f"Execution time: {end_time - start_time:.4f} seconds")
        return result
    return wrapper

# Example usage
@log_execution_time
def example_function():
    time.sleep(1)  # Simulate a delay

example_function()

Execution time: 1.0001 seconds

### 10. Load a dataset in a Pandas DataFrame and perform filtering and aggregation.

In [9]:
import pandas as pd

# Example dataset
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Edward'],
    'Age': [24, 30, 22, 35, 29],
    'Salary': [50000, 60000, 55000, 70000, 65000]
}

# ```python
df = pd.DataFrame(data)

# Filtering: Select employees with salary greater than 55000
filtered_df = df[df['Salary'] > 55000]

# Aggregation: Calculate the average salary
average_salary = df['Salary'].mean()

print(filtered_df)  # Output: DataFrame with employees having salary > 55000
print(f"Average Salary: {average_salary}")  # Output: Average Salary: 61000.0

     Name  Age  Salary
1     Bob   30   60000
3   David   35   70000
4  Edward   29   65000
Average Salary: 60000.0